In [1]:
#database client note

In [2]:
#A database client connects the database to a user or an application.

In [ ]:
"""If you're a person (like a developer or data analyst), the client connects you to the database 
so you can type queries and get data.

If it's an application (like a website, an app, or a script), the client connects the application 
to the database so the app can read, write, or update data automatically.

In short:

The database client acts like a "middleman" between the database server and whoever/whatever
needs to use the data."""

In [6]:
#Application -- A full program (like a website, mobile app, or desktop software) that needs to use data.	
#Like Netflix app â€” it shows you movies (data) e.g NEtflix App

In [7]:
#Client	A tool that connects to the database to send and receive data. It could be a human using a GUI, 
#or an application using a driver

In [8]:
#Database (DB)	A system where data is stored, organized, and managed.

In [9]:
#two most commonly used clients when working with python are
#1. Mysql-connector-python
#2. SQLAchemy

In [ ]:
# to connect to a db from an application you have to have mysql-connector module installed on your pc
# simply run "pip install mysql-connector-python"

"""pip will automatically:

Find it online (from the Python Package Index â€” PyPI),

Download it for you,

Install it into your Python environment.""" #provided your pc is connected to the internet

In [1]:
#after installation, everytime you want to use it, you have to import it using
import mysql.connector

In [2]:
#now is time to connect the successfully imported module with a db
connection = mysql.connector.connect(
    user = "root", 
    password = "Qwerty12345",#Username and Password are used to authenticate your access to the MySQL server
    database = "little_lee_dm") #its NOT compulsory to choose the EXACT DB at this point

#mysql.connector.connect() is used to establish a connection between your Python script and the MySQL DB.

if connection.is_connected(): #The is_connected() method is used to check if the connection to the MySQL server is still active.
    print("Connected to MySQL successfully!") #

Connected to MySQL successfully!

In [ ]:
#this is just how to use a try and except block in your connection to prevent crashing when wrong data is 
#inputed
"""

import mysql.connector

try:
    connection = mysql.connector.connect(
        host='localhost',
        user='your_username',
        password='your_password',
        database='your_database'
    )
    print("Connection successful!")
    connection.close()
except:
    print("Failed to connect.") 
    
"""

In [3]:
#mysql.connector	        A library/package
#mysql.connector.errors  	A module inside the library
#Error	                    A class inside errors

In [4]:
#so the we can also use the error module along with the the try and except block

In [5]:
import mysql.connector
from mysql.connector import errors

try:
    connection = mysql.connector.connect(
        host='localhost',
        user='wrong_user',
        password='wrong_password',
        database='non_existent_db'
    )
    print("Connected successfully!")
    connection.close()

except errors.ProgrammingError as e:
    if e.errno == 1045:  # Access denied (wrong username/password)
        print("Access denied: Please check your username or password.")
    elif e.errno == 1049:  # Unknown database
        print("Database does not exist.")
    else:
        print(f"Programming error occurred: {e}")

except errors.Error as e:
    print(f"Some other MySQL error occurred: {e}")

Access denied: Please check your username or password.

In [ ]:
#what are cursor objects 

"""ðŸŽ¯ What is a cursor object?
A cursor is an object you create from a database connection.

It is used to execute SQL queries (like SELECT, INSERT, UPDATE, DELETE) in your Python program.

After running a query, the cursor lets you fetch results (for example, rows from a table).

Simple way to think of it:

Cursor = your "controller" to talk to the database."""

#You can't directly tell the connection:
#"Hey, select all users."
#Instead, you must create a cursor first, and then use the cursor to send that command.

In [3]:
#example of use of a cursor OBJECT
import mysql.connector # line 1 assuming u are starting all over 

#line 2- utilizing the mysql connector to create a connection with a server and a particular DB
connection = mysql.connector.connect(  
    user = "root", 
    password = "Qwerty12345",
    database = "little_lee_dm")

#line 3- utilizing the is.connected() method just to confirm that connection was successful 
if connection.is_connected():
    print("Connected to MySQL successfully!")

#line -4 creating a cursor to act like a messenger between your Python program and the database
#it takes your message to the DB and brings back results 
#this is same as opening a cursor...some say declear a cursor..some say creating a cursor
cursor = connection.cursor()

show_tables_query = "SHOW tables" # an example of a simple sql query

cursor.execute(show_tables_query) #this is a method of the cursor class

Connected to MySQL successfully!

In [4]:
#ðŸŽ¯ fetchall(), fetchone(), fetchmany() are methods of a cursor object.
"""IN LINE WITH OOP, they are sometimes refered to as cursor class"""
#âœ… They are methods (functions inside an object)
#âœ… Specifically, they are methods of the cursor you create from the database connection.

#Method	          What it does
#execute(sql)	  Sends a single SQL command to the database (like SELECT, INSERT, etc.).
#fetchone()	      Fetches only one row from the query result.
#fetchall()	      Fetches all rows from the query result.
#fetchmany(size)  Fetches a specific number (size) of rows from the query result.
#column_names      print the column names

In [5]:
#still under line 4. time to fetch the results into a variable and print the content of the varaible

#based on the above instance of fetching a list of tables in the "little_lee_dm"
results= cursor.fetchall()

for result in results:
    print (result)

#please note that the results of cursors are read only and cannot be modified

('bookings',)
('customers',)
('menu',)
('order_delivery_status',)
('orders',)
('ordersview',)
('staff_info',)

In [30]:
#one important note about cursors
# this cell executes an sql command
cursor.execute ("select * from bookings")

In [ ]:
#and without calling out the results which the cursor is currently holding,
#i attempt to instruct the same cursor to fetch a diff set of results...
cursor.execute ("select * from menu")
#Omo, e nor go gree lie lie. #unread results fould.

In [ ]:
"""ðŸ›  How to avoid it:
ðŸ‘‰ After every execute(), either:

Call .fetchall(), .fetchone(), or .fetchmany()"""

In [33]:
results_of_bookings = cursor.fetchall()
#at this point you can ask the cursor to fetch a another result. Even without printing out the results

In [34]:
columns = cursor.column_names

In [35]:
print (columns)
for row in results_of_bookings:
    print (row)

#prints result set row by row

('BookingID', 'BookingDate', 'TableNumber', 'CustomerID', 'BookingStatus')
(1, datetime.date(2022, 10, 10), 5, None, None)
(2, datetime.date(2022, 11, 12), 3, None, None)
(3, datetime.date(2022, 10, 11), 2, None, None)
(4, datetime.date(2022, 10, 13), 2, None, None)

In [36]:
print (results_of_bookings)
#print results as a python list of tuples

[(1, datetime.date(2022, 10, 10), 5, None, None), (2, datetime.date(2022, 11, 12), 3, None, None), (3, datetime.date(2022, 10, 11), 2, None, None), (4, datetime.date(2022, 10, 13), 2, None, None)]

In [37]:
#closing a cursor
#it is highly recommended and considered best practice to close the cursor once you're done using 

# Close the cursor after use
cursor.close()
# In Python's database libraries like SQLite, closing a cursor releases any resources it was using, 
#which helps optimize memory usage.
#returns True, it means the cursor was successfully closed

True

In [39]:
#naming cursors during creation
#i can choose to name my cursor anything e.g
#cursor = connection.cursor()
#kelvin_cursor = connection.cursor()
#joel_cursor = connection.cursor()
#NB
#whatever you use to name your cursor. is what you would use while the cusor is active
#e.g kelvin_cursor.execute(), #joel_cursor.execute(), #kelvin_cursor.fetchall()

In [ ]:
#there are two types of cursors
"""1. standard cursor
written as"""    
#cursor = connection.cursor()
"""2. Buffered cursor
writtens as"""
#cursor = conn.cursor(buffered=True)

In [41]:
# diff btw standard and buffered

In [ ]:
"""Standard Cursor (Unbuffered)
Data Retrieval: Fetches rows on-demand, one at a time, as you iterate or call fetch methods.

Memory Usage: Efficient for large datasets since it doesn't load all data into memory at once.

Row Count: cursor.rowcount may return -1 for SELECT statements because the total number of rows 
isn't known until all are fetched.

Multiple Cursors: If you execute a new query on the same connection before fully consuming 
the previous result set, you'll encounter an InternalError: Unread result found"""

In [ ]:
 """Buffered Cursor
Data Retrieval: Fetches all rows immediately upon executing the query and stores them in memory.

Memory Usage: Can be memory-intensive for large result sets.

Row Count: cursor.rowcount accurately reflects the number of rows returned.

Multiple Cursors: Allows multiple queries on the same connection without needing to consume previous
results first. """

In [45]:
#now real world exmaples

In [47]:
#example of use of a standard cursor object
kev_cursor = connection.cursor()

In [48]:
kev_cursor.execute ("show tables")

In [49]:
print(kev_cursor.rowcount) #.rowcount is used to know the number of rows in the just executed query
#would return an incorrect number of rows..ans #0 ..which is incorrect

0

In [50]:
tables = kev_cursor.fetchall()
print(len(tables))  # Now you will get the correct number of tables..this is only becuase it was after 
#fetchall() method had been used on the cursor class...correct ans 7

7

In [3]:
#Create a buffered cursor instead
joel_cursor = connection.cursor(buffered=True)
joel_cursor.execute("SHOW TABLES")
print(joel_cursor.rowcount)  # Now rowcount works directly!..correct ans 7

7

In [ ]:
"""A buffered cursor in MySQL only retains the most recent query result. 
When you use .fetchall(), it retrieves the stored result from the last executed query.

If you don't fetch a result and run another query immediately, the previous result is replaced without 
causing an error. 

This is different from an unbuffered cursor, where attempting to run a new query without fetching the
previous results can cause errors due to unread data still lingering in memory.

Buffered cursors are particularly useful when you want flexibility in executing multiple queries 
without needing to worry about manually consuming all the results before moving on."""

In [53]:
#now lets run multiple sql with the buffered cursor.

In [54]:
joel_cursor.execute("SHOW TABLES")

In [73]:
joel_cursor.execute("SELECT DATABASE() AS CurrentDatabase") 
#if this was to be a standard cursor it would trow an error 
#becuase i have not fetched the previous results

#however note that only one result would the cursor hold at a time, which is the very last cursor command

In [74]:
joel_cursor.execute("select * from menu")

In [7]:
menu_results = joel_cursor.fetchall()

In [9]:
print (menu_results) #this is becuase menu at the moment is empty so now lets first get the 
#column names and then insert data into the columns

[]

In [11]:
joel_cursor.execute("select * from menu")

columns =joel_cursor.column_names

print (columns)

('MenuID', 'Cusines', 'Starters', 'Drink', 'Desserts')

In [69]:
#haven know the columns in menu table, we can easily insert data into those columns 
insert_into_menu_sql_query  = """INSERT INTO menu (MenuID, Cusines, Starters, Drink, Desserts) 
VALUES
(1, 'Italian', 'Bruschetta', 'Red Wine', 'Tiramisu'),
(2, 'Chinese', 'Spring Rolls', 'Green Tea', 'Mango Pudding'),
(3, 'Indian', 'Samosa', 'Masala Chai', 'Gulab Jamun'),
(4, 'Mexican', 'Nachos', 'Margarita', 'Churros'),
(5, 'French', 'Escargot', 'Champagne', 'CrÃ¨me BrÃ»lÃ©e'),
(6, 'Japanese', 'Edamame', 'Sake', 'Mochi'),
(7, 'American', 'Buffalo Wings', 'Cola', 'Apple Pie'),
(8, 'Lebanese', 'Hummus', 'Mint Lemonade', 'Baklava'),
(9, 'Thai', 'Satay Skewers', 'Thai Iced Tea', 'Sticky Rice'),
(10, 'Greek', 'Dolmades', 'Ouzo', 'Galaktoboureko')"""

In [70]:
joel_cursor.execute(insert_into_menu_sql_query)

In [71]:
#haven inserted the data in into the table,lets fetch out data to see if the 10 rows are there
joel_cursor.execute("select * from menu") # runs the sql query

menu_data = joel_cursor.fetchall() #stores the results of the sql query in menu_data variable

cols =joel_cursor.column_names  # gets the columns from the menu table to better explain the data

In [72]:
print (cols) # this is coming first becuase we want the columns to be at the top
# and the rows to be at the bottom

for row in menu_data:
    print (row)

#sharp...nice results

#however, these data would not appear in the DATABASE SERVER this becuase you are yet to run
#connection.commit()

('MenuID', 'Cusines', 'Starters', 'Drink', 'Desserts')
(1, 'Italian', 'Bruschetta', 'Red Wine', 'Tiramisu')
(2, 'Chinese', 'Spring Rolls', 'Green Tea', 'Mango Pudding')
(3, 'Indian', 'Samosa', 'Masala Chai', 'Gulab Jamun')
(4, 'Mexican', 'Nachos', 'Margarita', 'Churros')
(5, 'French', 'Escargot', 'Champagne', 'CrÃ¨me BrÃ»lÃ©e')
(6, 'Japanese', 'Edamame', 'Sake', 'Mochi')
(7, 'American', 'Buffalo Wings', 'Cola', 'Apple Pie')
(8, 'Lebanese', 'Hummus', 'Mint Lemonade', 'Baklava')
(9, 'Thai', 'Satay Skewers', 'Thai Iced Tea', 'Sticky Rice')
(10, 'Greek', 'Dolmades', 'Ouzo', 'Galaktoboureko')

In [ ]:
#if you need to determine the particular db am working on

In [61]:
joel_cursor.execute ("SELECT DATABASE()")

In [62]:
db_name = joel_cursor.fetchall()

In [63]:
print (db_name)

[('little_lee_dm',)]

In [4]:
#an attempt to get info from bookings jtable

joel_cursor.execute ("select * from bookings")

In [5]:
bookings_data = joel_cursor.fetchall()

In [6]:
for row in bookings_data:
    print (row)

(1, datetime.date(2022, 10, 10), 5, None, None)
(2, datetime.date(2022, 11, 12), 3, None, None)
(3, datetime.date(2022, 10, 11), 2, None, None)
(4, datetime.date(2022, 10, 13), 2, None, None)

In [21]:
joel_cursor.execute("SELECT MenuID FROM menu")

In [22]:
steve = joel_cursor.fetchall()

In [23]:
print (steve)

[(1,), (2,), (3,), (4,), (5,), (6,), (7,), (8,), (9,), (10,)]

In [58]:
#delete_data_in_staff_info = "delete from staff_info"

In [55]:
staff_table = joel_cursor.fetchall()

In [56]:
staff_info_columns = joel_cursor.column_names

In [57]:
print (staff_info_columns)
for row in staff_table:
    print (row)

()

In [60]:
connection.commit()

In [ ]:
# It saves all the changes (all inserts, updates, deletes) that were done since the last commit.

#Everything you did before calling commit() â€” all those operations are sent permanently to the database at once

"""âœ… You only need to call .commit() ONCE after all the changes you want to save.

ðŸŽ¯ What it really means:
When you insert, update, or delete something in your database using Python:

The change happens first in memory (temporary).

It is NOT permanent yet.

Until you run:

connection.commit()"""

In [ ]:
joel_cursor.close() # closing the cursor at completion of task. this frees up system resources 
#.returns true means it has been closed successfully
#.returns false means cursor was not open in the first place

In [ ]:
#MySQLCursorDict is another subclass of MySQLCursorBase,
#just like MySQLCursorBuffered is.
'''It overrides how rows are fetched and formatted (into dicts instead of tuples).
cursor = conn.cursor(buffered=True, dictionary=True)
cursor.execute("SELECT * FROM employees")
row = cursor.fetchone()
print(row)
'''
#{'first_name': 'John', 'last_name': 'Doe', 'age': 35}

"""In a standard cursor (cursor = conn.cursor()) returns a tuple, like this:
('John', 'Doe', 35)"""

#Even if your table has 100 columns, the cursor will still map them automatically:'''

#Column name â†’ Key

#Column value â†’ Value

#You donâ€™t need to do anything special in your table design

In [3]:
#Assume am starting afresh
import mysql.connector

In [4]:
conn = mysql.connector.connect(
    user = "root", 
    password = "Qwerty12345",
    database = "little_lee_dm")

if conn.is_connected():
    print("Connected to MySQL successfully!")

Connected to MySQL successfully!

In [5]:
#now lets create a buffered dictionary cursor

In [6]:
cursor = conn.cursor(buffered=True, dictionary=True)

In [7]:
sql_to_get_customer_details = 'select * from customers'

In [8]:
cursor.execute (sql_to_get_customer_details)

In [9]:
customers_data = cursor.fetchall()

In [10]:
cols = cursor.column_names

In [11]:
print (cols)

for row in customers_data:
    print (row)
#becuase a cursor dict was used, the results was returned in form of a dcitionary

('CustomerID', 'CustomerName', 'Contact_Details')
{'CustomerID': '1', 'CustomerName': None, 'Contact_Details': None}
{'CustomerID': '100', 'CustomerName': None, 'Contact_Details': None}
{'CustomerID': '101', 'CustomerName': None, 'Contact_Details': None}
{'CustomerID': '102', 'CustomerName': None, 'Contact_Details': None}
{'CustomerID': '2', 'CustomerName': None, 'Contact_Details': None}
{'CustomerID': '3', 'CustomerName': None, 'Contact_Details': None}
{'CustomerID': '4', 'CustomerName': None, 'Contact_Details': None}
{'CustomerID': '5', 'CustomerName': None, 'Contact_Details': None}
{'CustomerID': '6', 'CustomerName': None, 'Contact_Details': None}
{'CustomerID': '97', 'CustomerName': None, 'Contact_Details': None}
{'CustomerID': '98', 'CustomerName': None, 'Contact_Details': None}
{'CustomerID': '99', 'CustomerName': None, 'Contact_Details': None}

In [12]:
cursor.close() # frees up the resources as the cursor is no longer needed .
#.returns true means it has been closed successfully
#.returns false means cursor was not open in the first place

True

In [13]:
#one-off example of how this is python - is used to interact with a DB in a production environment

In [14]:
#task
"""assume a db owner encountered a schedulling conflict. to resolve it, they need to push each booking slot 
forward by one hour. you can instruct python to carry out this task, retrieve the data from the bookings table
and then add one hour to each booking."""

'assume a db owner encountered a schedulling conflict. to resolve it, they need to push each booking slot \nforward by one hour. you can instruct python to carry out this task, retrieve the data from the bookings table\nand then add one hour to each booking.'

In [15]:
import mysql.connector

In [16]:
con = mysql.connector.connect(
    user = "root", 
    password = "Qwerty12345") #Username and Password are used to authenticate your access to the MySQL server

In [17]:
cursor = con.cursor(buffered=True)

In [18]:
cursor.execute("use globalstores_final")

In [19]:
create_table_sql = """
CREATE TABLE Bookings (
    BookingID INT PRIMARY KEY,
    TableNo INT,
    BookingSlot DATETIME
)
"""

#it is highly important that you create the BookingSlot column as a DATETIME DATA TYPE.
#THis would enable easy addition of 1 hour without datatype conversion

In [ ]:
cursor.execute(create_table_sql)

In [ ]:
cursor.execute("""
    INSERT INTO Bookings (BookingID, TableNo, BookingSlot)
    VALUES
        (1, 5, '2024-09-16 12:00:00'),
        (2, 3, '2024-09-16 18:00:00'),
        (3, 1, '2024-09-16 08:00:00'),
        (4, 9, '2024-09-16 14:00:00'),
        (5, 7, '2024-09-16 21:00:00')
""")

In [34]:
con.commit() #to save the insert data permanently in the Database, do it would be visible there

In [22]:
import datetime as dt

In [23]:
#now lets import the table we want to work on into

In [24]:
sql_to_fetch_the_bookings_data = "select * from Bookings"

In [25]:
cursor.execute(sql_to_fetch_the_bookings_data)

updated_schedule = cursor.fetchall()

In [27]:
cols = cursor.column_names

In [39]:
print (cols)

for row in updated_schedule:
    BookingID =row[0]
    BookingSlot =row[2]
    new_BookingSlot = BookingSlot + dt.timedelta(hours=1)

print ("BookingID {} is moved from {} to {}".format(BookingID, BookingSlot, new_BookingSlot))

#if the print statement is outside the block: it would only print the last row
#if the print statement is inside the code block(indented) it would print all rows

('BookingID', 'TableNo', 'BookingSlot')
BookingID 5 is moved from 2024-09-16 21:00:00 to 2024-09-16 22:00:00

In [40]:
con.commit()

In [42]:
cursor.close() # for some reasons i cant explain at the moment, the cursor refuse to close

False