In [ ]:
#step 1 import connection module

In [1]:
import mysql.connector

In [ ]:
#step 2 create a connection to a db in my local workbench

In [7]:
connection = mysql.connector.connect(
    user = "root", 
    password = "Qwerty12345",
    database = "littlelemondm")

if connection.is_connected():
    print("Connected to MySQL successfully!")

Connected to MySQL successfully!

In [ ]:
#step 3 create a cusor object to which am going to pass the execute method to

In [8]:
cursor = connection.cursor()

In [ ]:
#step 4 now use the created cursor to execute task

In [10]:
show_tables_query = "SHOW tables" 

cursor.execute(show_tables_query)

In [11]:
#still under step 4. time to fetch the results into a variable and print the content of the varaible

In [12]:
results= cursor.fetchall()

In [13]:
for result in results:
    print (result)

('bookings',)
('customers',)
('menu',)
('order_delivery_status',)
('orders',)
('ordersview',)
('staff_info',)

In [ ]:
# beautiful. you have done well. time to progress with other queries

In [18]:
sql_Query_to_join_tables = """
select 
c.CustomerName AS FullName, 
c. Contact_Details,
o.TotalCost 
FROM Customers AS c
join Orders as O
ON c.CustomerID = o.CustomerID
where o.TotalCost > 60
"""

In [20]:
cursor.execute (sql_Query_to_join_tables)

In [21]:
results_of_join = cursor.fetchall()

In [22]:
for results in results_of_join:
    print (result)

In [ ]:
#no results was printed apparently because there is no data in the customer table