In [1]:
#step 1 import connection module

In [2]:
import mysql.connector

In [3]:
#step 2 create a connection to a db in my local workbench

In [4]:
connection = mysql.connector.connect(
    user = "root", 
    password = "Qwerty12345",
    database = "little_lee_dm")

if connection.is_connected():
    print("Connected to MySQL successfully!")

Connected to MySQL successfully!

In [5]:
#step 3 create a cusor object to which am going to pass the execute method to

In [6]:
cursor = connection.cursor()

In [7]:
#step 4 now use the created cursor to execute task

In [8]:
show_tables_query = "SHOW tables" 

cursor.execute(show_tables_query)

In [9]:
#still under step 4. time to fetch the results into a variable and print the content of the varaible

In [10]:
results= cursor.fetchall()

In [11]:
for result in results:
    print (result)

('bookings',)
('customers',)
('menu',)
('order_delivery_status',)
('orders',)
('ordersview',)
('staff_info',)

In [12]:
# beautiful. you have done well. time to progress with other queries

In [13]:
sql_Query_to_join_tables = """
select 
c.CustomerName AS FullName, 
c. Contact_Details,
o.TotalCost 
FROM Customers AS c
join Orders as O
ON c.CustomerID = o.CustomerID
where o.TotalCost > 60
"""

In [14]:
cursor.execute (sql_Query_to_join_tables)

In [15]:
results_of_join = cursor.fetchall()

In [16]:
for results in results_of_join:
    print (result)

In [17]:
#no results was printed apparently because there is no data in the customer table

In [18]:
cursor.execute ('select * from bookings')

In [19]:
results= cursor.fetchall()

In [20]:
columns = cursor.column_names

In [21]:
#print column names first, then results

In [22]:
print (columns)

for result in results:
    print (result)

('BookingID', 'BookingDate', 'TableNumber', 'CustomerID', 'BookingStatus')
(1, datetime.date(2022, 10, 10), 5, None, None)
(2, datetime.date(2022, 11, 12), 3, None, None)
(3, datetime.date(2022, 10, 11), 2, None, None)
(4, datetime.date(2022, 10, 13), 2, None, None)
(7, datetime.date(2022, 12, 30), 25, '6', None)

In [30]:
#code to test the addbooking procedure

In [34]:
sql_to_test_add_bookings_procedure = "call AddBooking (, 101, 99, '2022-12-10')"

In [35]:
cursor.execute(sql_to_test_add_bookings_procedure)

In [51]:
results = cursor.fetchall()

In [52]:
cursor.execute ("select * from Bookings")

In [53]:
results_of_bookings = cursor.fetchall()

In [54]:
for row in results_of_bookings:
    print (row)

(1, datetime.date(2022, 10, 10), 5, None, None)
(2, datetime.date(2022, 11, 12), 3, None, None)
(3, datetime.date(2022, 10, 11), 2, None, None)
(4, datetime.date(2022, 10, 13), 2, None, None)
(99, datetime.date(2022, 12, 10), 99, '101', None)